{% extends "base.html" %}

{% block content %}
{% load django_bootstrap5 %}
<div class="container d-flex align-items-center justify-content-center">
    <h1>{{ user }}'s Deposits</h1>
</div>
<div class="container d-flex align-items-center justify-content-center">
    <h2>{{ month }} {{ year }}</h2>
</div>
<hr>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Account</th>
                <th scope="col">Amount</th>
                <th scope="col">Source</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for deposit in deposits %}
            <tr>
                <td>{{ deposit.date }}</td>
                <td>{{ deposit.savings_account }}</td>
                <td>{{ deposit.amount }}</td>
                <td>{{ deposit.income_source }}</td>
                <td><a href="{% url 'transactions:delete_deposit' deposit.id %}">
                    Remove
                </a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
{% endblock %}
