<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Expenses Tracker</title>

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'Expenses_Tracker/css/master.css' %}">
    </head>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="mt-4 p-5 rounded">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        {% include 'footer.html' %}
        <script src="{% static 'Expenses_Tracker/js/master.js' %}"></script>
    </body>

</html>